.App {
  text-align: center;
}

.main-content{
  position: absolute;
  width: 100%;
  background-color: #ffc7c2;
  top: 150px;
  bottom:2px;
  border-radius: 20px;
  padding-top: 100px;
  padding-bottom: 0px;
  overflow: auto;
}

.sub-content {
  display: flex;
  min-width: 340px;
  width: 680px;
  margin: 0px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sub-element {
  width: 300px;
  background-color: #0d99ff;
  height: 20px;
  margin: 20px;
}

.final-element {
  width: 150px;
  background-color: #ffa629;
  height: 20px;
  margin: 20px;
}


@media screen and (max-width: 768px) {
  .sub-content {
    width:340px;
  }
}